.weather-widgets{
  ul{
    li{
      display: inline-block;
    }
  }
}

.widget{
  width:100px;
  height: 100px;
  background-color: lightgrey;
  margin: 5px;
  padding:10px;
  text-align: center;
}